  <div class="description"> 
    {{{description}}}
  </div>
  
  <div class="meta">File: <strong><a href='#file/{{urlencodedfile}}/{{line}}'>{{file}}:{{line}}</a></strong></div>

  {{#isConstructor}}
  <div class="constructor">
    <!--<h2>Constructor</h2>--> 
    {{constructor}}
  </div>
  {{/isConstructor}}
