
  {{#example}}
  <div class="example">
    <p><strong>Example</strong></p>

    <div class="example-content">
      {{{.}}}
    </div>
  </div>
  {{/example}}


  <p class="description">
    <strong>Description</strong><br>
    {{{description}}}
  </p>



  <p>
    <strong>Syntax</strong><br>
<pre><code class="language-javascript">{{#if isConstructor}}new {{/if}}{{name}}({{#if params}}{{#foreach params}}{{#if optional}}[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]{{else}}{{name}}{{/if}}{{#unless $last}}, {{/unless}}{{/foreach}}{{/if}})</code></pre>
  </p>







  {{#if return}}
  <span class="returns-inline">
    <span class="type"></span>
  </span>
  {{/if}}

  {{#if deprecated}}
  <span class="flag deprecated"{{#if deprecationMessage}} title="{{deprecationMessage}}"{{/if}}>deprecated</span>
  {{/if}}

  {{#if access}}
  <span class="flag {{access}}">{{access}}</span>
  {{/if}}

  {{#if final}}
  <span class="flag final">final</span>
  {{/if}}

  {{#if static}}
  <span class="flag static">static</span>
  {{/if}}

  {{#if chainable}}
  <span class="label label-success chainable">chainable</span>
  {{/if}}

  {{#if async}}
  <span class="flag async">async</span>
  {{/if}}

  <!--  <div class="meta">
      {{#if overwritten_from}}
      <p>Inherited from
        <a href="#">
          {{overwritten_from/class}}
        </a>
        {{#if foundAt}}
        but overwritten in
        {{/if}}
        {{else}}
        {{#if extended_from}}
      <p>Inherited from
        <a href="#">{{extended_from}}</a>:
        {{else}}
        {{#providedBy}}
      <p>Provided by the <a href="../modules/{{.}}.html">{{.}}</a> module.</p>
      {{/providedBy}}
      <p>
        {{#if foundAt}}
        Defined in
        {{/if}}
        {{/if}}
        {{/if}}
        {{#if foundAt}}
        <a href="{{foundAt}}">`{{{file}}}:{{{line}}}`</a>
        {{/if}}
      </p>
  
      {{#if deprecationMessage}}
      <p>Deprecated: {{deprecationMessage}}</p>
      {{/if}}
  
      {{#if since}}
      <p>Available since {{since}}</p>
      {{/if}}
    </div>-->


  {{#if params}}
  <p class="params">
    <strong>Parameters</strong><br>

      {{#params}}

        {{#if optional}}
        <code  class="language-javascript">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>
        {{else}}
        <code  class="language-javascript">{{name}}</code>

        {{/if}}

        {{#if type}}
          <span class="param-type label label-info">{{type}}</span>: {{{description}}}</span> 
        {{/if}}

        {{#if multiple}}
        <span class="flag multiple" title="This argument may occur one or more times.">multiple</span>
        {{/if}}


        {{#if props}}
          {{#props}}
            {{#if optional}}
            <code class="param-name optional">[{{name}}{{#if optdefault}}={{optdefault}}{{/if}}]</code>

            <span class="flag optional" title="This parameter is optional.">optional</span>
            {{else}}
            <code class="param-name">{{name}}</code>

            {{/if}}

            {{{description}}}
            
          {{/props}}
        {{/if}}
        <br>
      {{/params}}
  </p>
  {{/if}}

  {{#return}}
  <p>
    <strong>Returns</strong><br>

      {{#if type}}
        <span class="param-type label label-info">{{type}}</span>: {{{description}}}
      {{/if}}

  </p>
  {{/return}}

