<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="p5.js a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing.">
    <title tabindex="1">p5.js | reference</title>
    <link rel="stylesheet" href="{{projectAssets}}/all.css">

    <script src="{{projectAssets}}/js/vendor/jquery-1.12.4.min.js"></script>
    <script src='/assets/js/p5.min.js'></script>
    <script src='/assets/js/p5.sound.min.js'></script>
    <script src="{{projectAssets}}/js/vendor/underscore-min.js"></script>
    <script src="{{projectAssets}}/js/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="{{projectAssets}}/js/vendor/ace-nc/ace.js"></script>
    <script type="text/javascript" src="{{projectAssets}}/js/vendor/ace-nc/mode-javascript.js"></script>
    <script type="text/javascript" src="{{projectAssets}}/js/vendor/prism.js"></script>

    <link rel="shortcut icon" href="{{projectAssets}}/favicon.ico">
    <link rel="icon" href="{{projectAssets}}/favicon.ico">
  </head>

  <body id='reference'>
    <div id="reference-page" class="container">

      <!-- logo -->
      <header id="lockup">
        <a href="{{p5SiteRoot}}/">
          <img src="{{projectAssets}}/img/p5js.svg" alt="link to p5 home page" id="logo_image" class="logo" />
          <div id="p5_logo"></div>
        </a>
        <p class='tagline' style='display:block !important'><span id="reference-tagline">Processing Intuition times JavaScript power</span></p>
      </header>

      <div class="column-span">
        <section id="content" role="region" label="main content">

          <a href="./" class="anchor"><h1>Reference</h1></a>

          <div id="search" class="search-wrapper"></div>
          <div id="collection-list-nav"></div>

          <!--class="container-fluid"-->
          <div id="list" tabindex="2" class="list-wrapper allItems-collection"></div>
          <div id="item" tabindex="1" class="item-wrapper apidocs"></div>
          <div id="file" class="file-wrapper"></div>

        </section>

        <footer>
          <p><span id="footer1">p5.js was created by </span><a href='http://lauren-mccarthy.com' target="_blank">Lauren McCarthy</a><span id="footer2"> and is developed by a community of collaborators, with support from the </span><a href="https://processing.org/foundation/" target="_blank">Processing Foundation</a><span id="footer3">
          and </span><a href="http://itp.nyu.edu/itp/" target="_blank">NYU ITP</a>. <span id="footer4">Identity and graphic design by </span><a href="http://jereljohnson.com/" target="_blank">Jerel Johnson</a>.
          <a href="https://p5js.org/copyright.html">&copy; Info.</a></p>
        </footer>
      </div><!-- end column-span -->

      <!-- outside of column for footer to go across both -->
      <p class="clearfix"> &nbsp; </p>
    </div>

    <script src="{{projectAssets}}/js/require.min.js"></script>
    <script src="{{projectAssets}}/js/render.js"></script>
    <script src="{{projectAssets}}/js/reference.js"></script>

  </body>
</html>
