<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>p5.js | reference</title>
    <meta name="description" content="p5.js a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing.">
    <meta name="viewport" content="width=device-width">

    <!-- when hosted
    <script type="text/javascript" src="https://fast.fonts.net/jsapi/173b6bc2-616e-4a13-8c9a-6fcf9ae1c69a.js"></script>
    -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- CSS (order matters): normalize across browsers -->
    <link rel="stylesheet" href="{{p5SiteRoot}}/css/normalize.css">

    <!-- CSS (order matters): Site styles -->
    <link rel="stylesheet" href="{{p5SiteRoot}}/css/main.css">

    <!-- CSS (order matters): code highlighting -->
    <link rel="stylesheet" href="{{p5SiteRoot}}/css/prism.css">

    <link rel="stylesheet" href="{{projectAssets}}/reference.css">

    <!-- modernizer (not leveraged, yet)
    <script src="{{p5SiteRoot}}/js/vendor/modernizr-2.6.2.min.js"></script>-->

    <script src="{{p5SiteRoot}}/js/vendor/throbber.min.js"></script>

    <!-- jquery-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
    <script>window.jQuery || document.write('<script src="{{p5SiteRoot}}/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <!-- underscore-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- backbone-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>

  </head>

  <body id="reference-page">


    <div id="family">
      <p class="left"><a href="http://processing.org">Processing</a>
         <a class="here" href="http://p5js.org">p5.js</a>
         <a href="http://py.processing.org/">Processing.py</a>
         <a href="http://android.processing.org/">Processing for Android</a>
      </p>
      <form name="search" method="get" action="http://www.google.com/search">
        <input type="hidden" name="as_sitesearch" value="p5js.org" />
        <input id="search_field" type="text" name="as_q" value="" size="20" class="text" />
        <input id="search_button" type="submit" value=" " />
      </form>
      <p class="right">
        <a href="https://processingfoundation.org/">Processing Foundation</a>
      </p>
    </div>


    <div id="container">
    <!-- identity -->
    <div id="lockup">
        <img type="image/svg+xml" src="{{p5SiteRoot}}/img/p5js-beta.svg" id="logo_image" class="logo"  />
        <div id='p5_logo'></div>
      </a>
      <p>Processing intuition times JavaScript power</p>
    </div>


    <!-- site navigation -->
    <div class="column-span">
    <ul id="menu">
      <li><a href="{{p5SiteRoot}}/">Home</a></li>

      <li><a href="{{p5SiteRoot}}/download/">Download</a></li>
      <li><a href="{{p5SiteRoot}}/gallery/">Gallery</a></li>
      <li><a href="{{p5SiteRoot}}/get-started/">Get Started</a></li>
      <li><a href="{{p5SiteRoot}}/reference/">Reference</a></li>
      <li><a href="{{p5SiteRoot}}/libraries/">Libraries</a></li>
      <li><a href="{{p5SiteRoot}}/tutorials/">Tutorials</a></li>
      <li><a href="{{p5SiteRoot}}/examples/">Examples</a></li>
      <li><a href="{{p5SiteRoot}}/books/">Books</a></li>
      <li><a href="{{p5SiteRoot}}/community/">Community</a></li>
      <li><a href="{{p5SiteRoot}}/contribute/">Contribute</a></li>

      <li><a href="http://forum.processing.org/two/" target=_blank class="other-link">Forum</a></li>
      <li><a href="http://github.com/processing/p5.js" target=_blank class="other-link">Github</a></li>
      <li><a href="http://twitter.com/p5xjs" target=_blank class="other-link">Twitter</a></li>
    </ul>
    <br />
    </div>



    <div class="column-span">
      <section id="reference">

        <a href="./" class="anchor"><h2>Reference</h2></a>

        <div id="search" class="search-wrapper"></div>
        <div id="collection-list-nav">

        </div>

        <!--class="container-fluid"-->
        <div id="list" class="list-wrapper allItems-collection"></div>
        <div id="item" class="item-wrapper apidocs"></div>
        <div id="file" class="file-wrapper"></div>

      </section>


      <footer>
        <p>p5.js was created by <a href='http://lauren-mccarthy.com' target="_blank">Lauren McCarthy</a> and is developed by a community of collaborators,
        with support from the <a href="http://processing.org/foundation/" target="_blank">Processing Foundation</a>
        and <a href="http://itp.nyu.edu/itp/" target="_blank">NYU ITP</a>.
        <a href="http://p5js.org/copyright.php">&copy; Info.</a></p>
      </footer>
    </div><!-- end column-span -->

    <!-- outside of column for footer to go across both -->

    <p class="clearfix"> &nbsp; </p>

    <object type="image/svg+xml" data="{{p5SiteRoot}}/img/thick-asterisk-alone.svg" id="asterisk-design-element">
         *<!-- to do: add fallback image in CSS -->
    </object>


    <script src="{{p5Lib}}"></script>
    <script src="{{p5SoundLib}}"></script>
    <script src="{{p5DomLib}}"></script>
    <script src="{{p5SiteRoot}}/js/render.js"></script>
    <!-- prism for code highlighting -->
    <script src="{{p5SiteRoot}}/js/vendor/prism.js"></script>

    <script src="{{p5SiteRoot}}/js/main.js"></script>
    <script src="{{p5SiteRoot}}/js/scroll.js"></script>

    <script src="{{projectAssets}}/js/require.min.js"></script>
    <script src="{{projectAssets}}/js/reference.js"></script>
    <script src="{{p5SiteRoot}}/js/logo.js"></script>
    <script type='text/javascript'>
    var throb = Throbber({color: '#2D7BB6', strokewidth: 2 });
    throb.appendTo(document.getElementById('list'));
    throb.elem.style.margin = '1em 0 2em 0';
    throb.start();
    </script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
    /*
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    */
    </script>
    -->
  </body>
</html>
